basic_auth/.htpasswd

.idea
venv
back/data
back/logs
back/build_files
back/.idea

__pycache__
.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tfx-bsl/
