FROM python:3.7.15
RUN DEBIAN_FRONTEND=noninteractive && apt-get -y update && apt-get -y install build-essential openjdk-11-jdk zip unzip wget
RUN wget https://github.com/bazelbuild/bazel/releases/download/{bazel_version}/bazel-{bazel_version}-dist.zip
RUN mkdir bazel && unzip -d ./bazel bazel-{bazel_version}-dist.zip
WORKDIR /bazel
RUN env EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk" bash ./compile.sh && cp output/bazel /usr/local/bin
